.img-card{
    text-align: center;
}

.img-card img {
    margin-bottom: 21px;
}

.img-card h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.img-card span {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}